
<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid" id="jumbo-header">
  <div class="container">
    <h2 class="display-4">Download Music From Youtube</h2>
    <p class="lead">Create an account to store links and more</p>
  </div>
</div>
<!-- End Jumbotron -->


<!-- URL Form -->

<!--make the base url accessible to javascript files-->
<script type="application/javascript" src="./JS/youtubeSearcher.js"></script>

<!-- audio visualizer -->
<script type="application/javascript" src="./JS/audioVisualizer.js"></script>

<div class="container" id="url_forms">
  <form action="process_download" method="POST">

    <h4>Generate the URL by identifying the song your are listening to...</h4>

    <div style="position:relative !important;">
    `<!-- audio visualizer background -->
      <div style="position:relative;" id="svgHolder">
        <svg preserveAspectRatio="none" id="visualizer" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <mask id="mask">
              <g id="maskGroup">
              </g>
            </mask>
            <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" style="stop-color:#ff0a0a;stop-opacity:1" />
                <stop offset="20%" style="stop-color:#f1ff0a;stop-opacity:1" />
                <stop offset="90%" style="stop-color:#d923b9;stop-opacity:1" />
                <stop offset="100%" style="stop-color:#050d61;stop-opacity:1" />
            </linearGradient>
          </defs>
          <rect x="0" y="0" width="100%" height="100%" fill="url(#gradient)" mask="url(#mask)"></rect>
        </svg>
      </div>

      <!-- button over visualizer -->
      <div class="container" style="text-align: center; position:absolute; top:0; left:0; z-index:10;" id="buttonCont">
        <button type="button" class="btn btn-default btn-circle btn-xl" id="recordAudio"><i class="fas fa-microphone fa-8x"></i></button>
      </div>
    </div>

    <br>
    <h4>Generate the URL by Specifying...</h4>

    <!-- youtube link generator -->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Song Name</span>
      </div>
      <input type="text" class="form-control" aria-describedby="basic-addon3" id="songName">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Album Name</span>
      </div>
      <input type="text" class="form-control" aria-describedby="basic-addon3" id="albumName">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Artist Name</span>
      </div>
      <input type="text" class="form-control" aria-describedby="basic-addon3" id="artistName">
    </div>

    <br>
    <h4>Copy and Paste the URL from youtube</h4>
  
    <!-- youtube link url -->
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">URL</span>
      </div>
      <input type="text" name="url" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="urlLocation">
      <button type="submit" class="btn btn-info" id="convert-button">Convert</button>
    </div>

  </form>
</div>
<!-- End URL Form -->

<!-- Download button -->
<%if @download_ready%>
  <div class="container" id="download-button">
    <a href="http://104.248.225.168:5000/?api_key=1040412&url=<%=@video_url%>" role="button" class="btn btn-success" onclick="showImage();">Download</a>
    <img src="images/load.gif" id="load-gif">
  </div>
<%end%>
<!--End Download Button -->

