<h1>Upgrading grants you an unlimited library!</h1>

<form action="/charge" method="post" class="payment">
    <article>
        <label class="amount">
            <span>One time fee: $2.50</span>
        </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= settings.publishable_key %>"
        data-description="One Time Payment" data-amount="250" data-locale="auto"></script>
</form>