<!--make the base url accessible to javascript files-->
<script type="application/javascript" src="./JS/youtubeSearcher.js"></script>

<div class="container">
	<h2>Add Video To Library</h2>
	<form action ="/create" method ="POST">
		<div class="form-group">
			<input name="title" type="text" class="form-control" id="title" aria-describedby="videoHelp" placeholder="Title">
		</div>
		<div class="form-group">
			<input name="video_url" type="text" class="form-control" id="video" placeholder="Video URL">
			<small id="urlHelp" class="form-text text-muted">Currently Only Supporting Youtube Videos.</small>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
