
<div class = "container">
	<form action="/videos/create" method="POST">
		Title: <input type="text" name="title"><br/>
		Description: <input type="text" name="description"><br/>
		Video URL: <input type="text" name="video_url"><br/>
		Pro: <input type="checkbox" name="pro"><br/>
		<input type="submit" value="Create Video">
	</form>
</div>