<button type="button" id="record">Start</button>
<br>
<button type="button" id="save">Save</button>
<p id="notrecording"></p>
<p id="recording" style="display: none;">"Recording... Stop Recording to change any settings</p>
