

#convert-button{
    background-color: #199AAF;
    margin-left: 5px;
}
#jumbo-header{
    border-radius: 10px;
    color: white;
    background-image: url('https://hdbackgroundspot.com//storage/upload/cool-background-designs/cool-background-designs-26.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    font-family: Courier New;
}

#inputGroup-sizing-lg{
    background-color: #199AAF;
    color: white;
}

#download-button{
    color: white;
    text-align: center;
}


#load-gif {
    margin-left: 10px;
    visibility:hidden;
	position: fixed;
	width: 50px;
	height: 50px;   
}