

#convert-button{
    background-color: #199AAF;
    margin-left: 5px;
}
#jumbo-header{
    border-radius: 10px;
    color: white;
    background-image: url('https://hdbackgroundspot.com//storage/upload/cool-background-designs/cool-background-designs-26.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    font-family: Courier New;
}

#inputGroup-sizing-lg{
    background-color: #199AAF;
    color: white;
}

#download-button{
    color: white;
    text-align: center;
}


#load-gif {
    margin-left: 10px;
    visibility:hidden;
	position: fixed;
	width: 50px;
	height: 50px;   
}

#footer
{
    clear: both;
    border: 1px groove #aaaaaa;
    background: rgb(32, 32, 32);
    color: White;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    margin-top: 15px;
    bottom: 0px;
    width: 100%;
}

#buttonCont {
    padding: 10px;
}

.btn-circle.btn-xl {
    width: 230px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    border-radius: 50%;
}

/*-----*/

svg {
    height: 225px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}
    
path{
    stroke-linecap: square;
    stroke: white;
    stroke-width: 0.5px;
}