@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#convert-button{
    background-color: #B0B6CC;
    border-color: #B0B6CC;
}
#jumbo-header{
    border-radius: 10px;
    background-color: #B0B6CC;
    color: white;
    font-family: josefin sans;
}

#inputGroup-sizing-lg{
    background-color: #B0B6CC;
    color: white;
}

    